node_modules
build
/public
App.scss
*.local
node_modules/*
*.css
*.html
*.mdx
README.md
*.yaml
*.sh

*.css
*.d.ts
*.html
*.yml

*.png
*.svg
*.txt
*.ico
*.yaml
*.ttf
*.tmp
*.webp
*.jpg
/tmp

.env*
env.*
env.default
*ignore
.gitattributes

.husky/
scripts/

.editorconfig

yarn.lock
Dockerfile
*.cjs
*.json
*.config.*
